<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkPlanner.Properties.Settings.C__USERS_NATUR_SOURCE_REPOS_WORKPLANNER_WORKPLANNER_DATABASE1_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\NATUR\SOURCE\REPOS\WORKPLANNER\WORKPLANNER\DATABASE1.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>